<p>landingpage works!</p>
<div class="hero">
    <h1 class="font-Syne">Frontend</h1>
    <h1 class="font-Syne"> Developer</h1>
    <div class="line-name">
        <hr><span class="font-Syne highlight-Lila name">Mailo Mittestädt</span>
    </div>
</div>
<div class="font-Syne">
    <span id="rotateText">
        mailo.mittelaedtgooglemail.com
    </span>
    <div class="scroll-down-arrow-container">
        <div class="slideshow"></div>
        <span>Scroll</span>
        <span>Down</span>

    </div>
</div>