<p>legalmatters works!</p>
<section>
    <h1 id="imprint">{{'imprint-headline' | translate}}</h1>
    <h2 id="m46">{{'imprint-subheadline' | translate}}</h2>
    <p>Mailo Mittelstädt</p>
    <p>Schwartauer Landstraße 103</p>
    <p>23554 Lübeck</p>

    <h2 id="m56">{{'imprint-contact' | translate}}</h2>
    <p>{{'imprint-email' | translate}} contact&#64;mailo-mittelstaedt.de</p>

    <p class="seal"><a href="https://datenschutz-generator.de/"
            title="Rechtstext von Dr. Schwenke - für weitere Informationen bitte anklicken." target="_blank"
            rel="noopener noreferrer nofollow">{{'imprint-generate' | translate}}</a>
    </p>
</section>


<section>

    <h1>Datenschutzerklärung</h1>
    <p>Stand: 13. August 2024</p>
    <h2>Inhaltsübersicht</h2>
    <ul class="index">
        <li><a class="index-link" href="#m3">Verantwortlicher</a></li>
        <li><a class="index-link" href="#mOverview">Übersicht der Verarbeitungen</a></li>
        <li><a class="index-link" href="#m2427">Maßgebliche Rechtsgrundlagen</a></li>
        <li><a class="index-link" href="#m27">Sicherheitsmaßnahmen</a></li>
        <li><a class="index-link" href="#m12">Informationen zur Datenspeicherung</a></li>
        <li><a class="index-link" href="#m10">Rechte der betroffenen Personen</a></li>
        <li><a class="index-link" href="#m225">Onlineangebots und Webhosting</a></li>
        <li><a class="index-link" href="#m182">Kontakt- und Anfrageverwaltung</a></li>
        <li><a class="index-link" href="#m136">Präsenzen in sozialen Netzwerken</a></li>
    </ul>
    <h2 id="m3">Verantwortlicher</h2>
    <p>Pascal Nehlsen<br>Lüffringhauser Weg 12<br>42929 Wermelskirchen</p>
    <p>E-Mail-Adresse: mail&#64;pascal-nehlsen.de</p>

    <h2 id="mOverview">Übersicht der Verarbeitungen</h2>
    <p>Die nachfolgende Übersicht fasst die <br> Arten der verarbeiteten Daten und die Zwecke <br> ihrer
        Verarbeitung zusammen und <br>
        verweist auf die betroffenen Personen.</p>
    <h3>Arten der verarbeiteten Daten</h3>
    <ul class="index">
        <li>Bestandsdaten.</li>
        <li>Kontaktdaten.</li>
        <li>Inhaltsdaten.</li>
        <li>Nutzungsdaten.</li>
        <li>Meta-, Kommunikations- und Verfahrensdaten.</li>
        <li>Protokolldaten.</li>
    </ul>
    <h3>Kategorien betroffener Personen</h3>
    <ul class="index">
        <li>Kommunikationspartner.</li>
        <li>Nutzer.</li>
    </ul>
    <h3>Zwecke der Verarbeitung</h3>
    <ul class="index">
        <li>Kommunikation.</li>
        <li>Sicherheitsmaßnahmen.</li>
        <li>Organisations- und Verwaltungsverfahren.</li>
        <li>Feedback.</li>
        <li>Bereitstellung unseres Onlineangebotes.</li>
        <li>Informationstechnische Infrastruktur.</li>
        <li>Öffentlichkeitsarbeit.</li>
    </ul>
    <h2 id="m2427">Maßgebliche Rechtsgrundlagen</h2>
    <p class="small-font"><strong>Maßgebliche Rechtsgrundlagen nach der DSGVO: </strong>Im Folgenden
        erhalten Sie eine
        Übersicht der
        Rechtsgrundlagen der DSGVO, auf deren Basis wir personenbezogene Daten verarbeiten. Bitte nehmen Sie zur
        Kenntnis,
        dass neben den Regelungen der DSGVO nationale Datenschutzvorgaben in Ihrem bzw. unserem Wohn- oder Sitzland
        gelten
        können. Sollten ferner im Einzelfall speziellere Rechtsgrundlagen maßgeblich sein, teilen wir Ihnen diese in der
        Datenschutzerklärung mit.</p>
    <ul class="index">
        <li><strong>Vertragserfüllung und vorvertragliche Anfragen (Art. 6 Abs. 1 S. 1 lit. b) DSGVO)</strong> - Die
            Verarbeitung ist für die Erfüllung eines Vertrags, dessen Vertragspartei die betroffene Person ist, oder zur
            Durchführung vorvertraglicher Maßnahmen erforderlich, die auf Anfrage der betroffenen Person erfolgen.</li>
        <li><strong>Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f) DSGVO)</strong> - die Verarbeitung ist zur
            Wahrung
            der berechtigten Interessen des Verantwortlichen oder eines Dritten notwendig, vorausgesetzt, dass die
            Interessen, Grundrechte und Grundfreiheiten der betroffenen Person, die den Schutz personenbezogener Daten
            verlangen, nicht überwiegen.</li>
    </ul>
    <p class="small-font"><strong>Nationale Datenschutzregelungen in Deutschland: </strong>Zusätzlich zu den
        Datenschutzregelungen der
        DSGVO
        gelten nationale Regelungen zum Datenschutz in Deutschland. Hierzu gehört insbesondere das Gesetz zum Schutz vor
        Missbrauch personenbezogener Daten bei der Datenverarbeitung (Bundesdatenschutzgesetz – BDSG). Das BDSG enthält
        insbesondere Spezialregelungen zum Recht auf Auskunft, zum Recht auf Löschung, zum Widerspruchsrecht, zur
        Verarbeitung besonderer Kategorien personenbezogener Daten, zur Verarbeitung für andere Zwecke und zur
        Übermittlung
        sowie automatisierten Entscheidungsfindung im Einzelfall einschließlich Profiling. Ferner können
        Landesdatenschutzgesetze der einzelnen Bundesländer zur Anwendung gelangen.</p>
    <p class="small-font"><strong>Hinweis auf Geltung DSGVO und Schweizer DSG: </strong>Diese Datenschutzhinweise dienen
        sowohl der
        Informationserteilung nach dem Schweizer DSG als auch nach der Datenschutzgrundverordnung (DSGVO). Aus diesem
        Grund
        bitten wir Sie zu beachten, dass aufgrund der breiteren räumlichen Anwendung und Verständlichkeit die Begriffe
        der
        DSGVO verwendet werden. Insbesondere statt der im Schweizer DSG verwendeten Begriffe „Bearbeitung" von
        „Personendaten", "überwiegendes Interesse" und "besonders schützenswerte Personendaten" werden die in der DSGVO
        verwendeten Begriffe „Verarbeitung" von „personenbezogenen Daten" sowie "berechtigtes Interesse" und "besondere
        Kategorien von Daten" verwendet. Die gesetzliche Bedeutung der Begriffe wird jedoch im Rahmen der Geltung des
        Schweizer DSG weiterhin nach dem Schweizer DSG bestimmt.</p>

    <h2 id="m27">Sicherheitsmaßnahmen</h2>
    <p class="small-font">Wir treffen nach Maßgabe der gesetzlichen Vorgaben unter Berücksichtigung des Stands der
        Technik, der
        Implementierungskosten und der Art, des Umfangs, der Umstände und der Zwecke der Verarbeitung sowie der
        unterschiedlichen Eintrittswahrscheinlichkeiten und des Ausmaßes der Bedrohung der Rechte und Freiheiten
        natürlicher
        Personen geeignete technische und organisatorische Maßnahmen, um ein dem Risiko angemessenes Schutzniveau zu
        gewährleisten.</p>
    <p class="small-font">Zu den Maßnahmen gehören insbesondere die Sicherung der Vertraulichkeit, Integrität und
        Verfügbarkeit von Daten
        durch
        Kontrolle des physischen und elektronischen Zugangs zu den Daten als auch des sie betreffenden Zugriffs, der
        Eingabe, der Weitergabe, der Sicherung der Verfügbarkeit und ihrer Trennung. Des Weiteren haben wir Verfahren
        eingerichtet, die eine Wahrnehmung von Betroffenenrechten, die Löschung von Daten und Reaktionen auf die
        Gefährdung
        der Daten gewährleisten. Ferner berücksichtigen wir den Schutz personenbezogener Daten bereits bei der
        Entwicklung
        bzw. Auswahl von Hardware, Software sowie Verfahren entsprechend dem Prinzip des Datenschutzes, durch
        Technikgestaltung und durch datenschutzfreundliche Voreinstellungen.</p>
    <p class="small-font">Sicherung von Online-Verbindungen durch TLS-/SSL-Verschlüsselungstechnologie (HTTPS): Um die
        Daten der Nutzer,
        die
        über unsere Online-Dienste übertragen werden, vor unerlaubten Zugriffen zu schützen, setzen wir auf die
        TLS-/SSL-Verschlüsselungstechnologie. Secure Sockets Layer (SSL) und Transport Layer Security (TLS) sind die
        Eckpfeiler der sicheren Datenübertragung im Internet. Diese Technologien verschlüsseln die Informationen, die
        zwischen der Website oder App und dem Browser des Nutzers (oder zwischen zwei Servern) übertragen werden,
        wodurch
        die Daten vor unbefugtem Zugriff geschützt sind. TLS, als die weiterentwickelte und sicherere Version von SSL,
        gewährleistet, dass alle Datenübertragungen den höchsten Sicherheitsstandards entsprechen. Wenn eine Website
        durch
        ein SSL-/TLS-Zertifikat gesichert ist, wird dies durch die Anzeige von HTTPS in der URL signalisiert. Dies dient
        als
        ein Indikator für die Nutzer, dass ihre Daten sicher und verschlüsselt übertragen werden.</p>

    <h2 id="m12">Allgemeine Informationen zur Datenspeicherung und Löschung</h2>
    <p class="small-font">Wir löschen personenbezogene Daten, die wir verarbeiten, gemäß den gesetzlichen Bestimmungen,
        sobald die
        zugrundeliegenden Einwilligungen widerrufen werden oder keine weiteren rechtlichen Grundlagen für die
        Verarbeitung
        bestehen. Dies betrifft Fälle, in denen der ursprüngliche Verarbeitungszweck entfällt oder die Daten nicht mehr
        benötigt werden. Ausnahmen von dieser Regelung bestehen, wenn gesetzliche Pflichten oder besondere Interessen
        eine
        längere Aufbewahrung oder Archivierung der Daten erfordern.</p>
    <p class="small-font">Insbesondere müssen Daten, die aus handels- oder steuerrechtlichen Gründen aufbewahrt werden
        müssen oder deren
        Speicherung notwendig ist zur Rechtsverfolgung oder zum Schutz der Rechte anderer natürlicher oder juristischer
        Personen, entsprechend archiviert werden.</p>
    <p class="small-font">Unsere Datenschutzhinweise enthalten zusätzliche Informationen zur Aufbewahrung und Löschung
        von Daten, die
        speziell
        für bestimmte Verarbeitungsprozesse gelten.</p>
    <p class="small-font">Bei mehreren Angaben zur Aufbewahrungsdauer oder Löschungsfristen eines Datums, ist stets die
        längste Frist
        maßgeblich.</p>
    <p class="small-font">Beginnt eine Frist nicht ausdrücklich zu einem bestimmten Datum und beträgt sie mindestens ein
        Jahr, so startet
        sie
        automatisch am Ende des Kalenderjahres, in dem das fristauslösende Ereignis eingetreten ist. Im Fall laufender
        Vertragsverhältnisse, in deren Rahmen Daten gespeichert werden, ist das fristauslösende Ereignis der Zeitpunkt
        des
        Wirksamwerdens der Kündigung oder sonstige Beendigung des Rechtsverhältnisses.</p>
    <p class="small-font">Daten, die nicht mehr für den ursprünglich vorgesehenen Zweck, sondern aufgrund gesetzlicher
        Vorgaben oder
        anderer
        Gründe aufbewahrt werden, verarbeiten wir ausschließlich zu den Gründen, die ihre Aufbewahrung rechtfertigen.
    </p>
    <p><strong>Weitere Hinweise zu Verarbeitungsprozessen, Verfahren und Diensten:</strong></p>
    <ul class="index">
        <li><strong>Aufbewahrung und Löschung von Daten: </strong>Die folgenden allgemeinen Fristen gelten für die
            Aufbewahrung und Archivierung nach deutschem Recht: <ul class="index">
                <li>10 Jahre - Aufbewahrungsfrist für Bücher und Aufzeichnungen, Jahresabschlüsse,
                    Inventare,
                    Lageberichte,
                    Eröffnungsbilanz sowie die zu ihrem Verständnis erforderlichen Arbeitsanweisungen und sonstigen
                    Organisationsunterlagen, Buchungsbelege und Rechnungen (§ 147 Abs. 3 i. V. m. Abs. 1 Nr. 1, 4 und 4a
                    AO,
                    § 14b Abs. 1 UStG, § 257 Abs. 1 Nr. 1 u. 4, Abs. 4 HGB).</li>
                <li>6 Jahre - Übrige Geschäftsunterlagen: empfangene Handels- oder Geschäftsbriefe,
                    Wiedergaben der
                    abgesandten Handels- oder Geschäftsbriefe, sonstige Unterlagen, soweit sie für die Besteuerung von
                    Bedeutung sind, z. B. Stundenlohnzettel, Betriebsabrechnungsbögen, Kalkulationsunterlagen,
                    Preisauszeichnungen, aber auch Lohnabrechnungsunterlagen, soweit sie nicht bereits Buchungsbelege
                    sind
                    und Kassenstreifen (§ 147 Abs. 3 i. V. m. Abs. 1 Nr. 2, 3, 5 AO, § 257 Abs. 1 Nr. 2 u. 3, Abs. 4
                    HGB).
                </li>
                <li>3 Jahre - Daten, die erforderlich sind, um potenzielle Gewährleistungs- und
                    Schadensersatzansprüche
                    oder
                    ähnliche vertragliche Ansprüche und Rechte zu berücksichtigen sowie damit verbundene Anfragen zu
                    bearbeiten, basierend auf früheren Geschäftserfahrungen und üblichen Branchenpraktiken, werden für
                    die
                    Dauer der regulären gesetzlichen Verjährungsfrist von drei Jahren gespeichert (§§ 195, 199 BGB).
                </li>
            </ul>
        </li>
    </ul>
    <h2 id="m10">Rechte der betroffenen Personen</h2>
    <p>Rechte der betroffenen Personen aus der DSGVO: Ihnen stehen als Betroffene nach der DSGVO verschiedene Rechte zu,
        die
        sich insbesondere aus Art. 15 bis 21 DSGVO ergeben:</p>
    <ul class="index">
        <li><strong>Widerspruchsrecht: Sie haben das Recht, aus Gründen, die sich aus Ihrer besonderen Situation
                ergeben,
                jederzeit gegen die Verarbeitung der Sie betreffenden personenbezogenen Daten, die aufgrund von Art. 6
                Abs.
                1 lit. e oder f DSGVO erfolgt, Widerspruch einzulegen; dies gilt auch für ein auf diese Bestimmungen
                gestütztes Profiling. Werden die Sie betreffenden personenbezogenen Daten verarbeitet, um Direktwerbung
                zu
                betreiben, haben Sie das Recht, jederzeit Widerspruch gegen die Verarbeitung der Sie betreffenden
                personenbezogenen Daten zum Zwecke derartiger Werbung einzulegen; dies gilt auch für das Profiling,
                soweit
                es mit solcher Direktwerbung in Verbindung steht.</strong></li>
        <li><strong>Widerrufsrecht bei Einwilligungen:</strong> Sie haben das Recht, erteilte Einwilligungen jederzeit
            zu
            widerrufen.</li>
        <li><strong>Auskunftsrecht:</strong> Sie haben das Recht, eine Bestätigung darüber zu verlangen, ob betreffende
            Daten verarbeitet werden und auf Auskunft über diese Daten sowie auf weitere Informationen und Kopie der
            Daten
            entsprechend den gesetzlichen Vorgaben.</li>
        <li><strong>Recht auf Berichtigung:</strong> Sie haben entsprechend den gesetzlichen Vorgaben das Recht, die
            Vervollständigung der Sie betreffenden Daten oder die Berichtigung der Sie betreffenden unrichtigen Daten zu
            verlangen.</li>
        <li><strong>Recht auf Löschung und Einschränkung der Verarbeitung:</strong> Sie haben nach Maßgabe der
            gesetzlichen
            Vorgaben das Recht, zu verlangen, dass Sie betreffende Daten unverzüglich gelöscht werden, bzw. alternativ
            nach
            Maßgabe der gesetzlichen Vorgaben eine Einschränkung der Verarbeitung der Daten zu verlangen.</li>
        <li><strong>Recht auf Datenübertragbarkeit:</strong> Sie haben das Recht, Sie betreffende Daten, die Sie uns
            bereitgestellt haben, nach Maßgabe der gesetzlichen Vorgaben in einem strukturierten, gängigen und
            maschinenlesbaren Format zu erhalten oder deren Übermittlung an einen anderen Verantwortlichen zu fordern.
        </li>
        <li><strong>Beschwerde bei Aufsichtsbehörde:</strong> Sie haben unbeschadet eines anderweitigen
            verwaltungsrechtlichen oder gerichtlichen Rechtsbehelfs das Recht auf Beschwerde bei einer Aufsichtsbehörde,
            insbesondere in dem Mitgliedstaat ihres gewöhnlichen Aufenthaltsorts, ihres Arbeitsplatzes oder des Orts des
            mutmaßlichen Verstoßes, wenn Sie der Ansicht sind, dass die Verarbeitung der Sie betreffenden
            personenbezogenen
            Daten gegen die Vorgaben der DSGVO verstößt.</li>
    </ul>

    <h2 id="m225">Bereitstellung des Onlineangebots und Webhosting</h2>
    <p class="small-font">Wir verarbeiten die Daten der Nutzer, um ihnen unsere Online-Dienste zur Verfügung stellen zu
        können. Zu diesem
        Zweck
        verarbeiten wir die IP-Adresse des Nutzers, die notwendig ist, um die Inhalte und Funktionen unserer
        Online-Dienste
        an den Browser oder das Endgerät der Nutzer zu übermitteln.</p>
    <ul class="index">
        <li><strong>Verarbeitete Datenarten:</strong> Nutzungsdaten (z. B. Seitenaufrufe und Verweildauer, Klickpfade,
            Nutzungsintensität und -frequenz, verwendete Gerätetypen und Betriebssysteme, Interaktionen mit Inhalten und
            Funktionen); Meta-, Kommunikations- und Verfahrensdaten (z. B. IP-Adressen, Zeitangaben,
            Identifikationsnummern,
            beteiligte Personen); Protokolldaten (z. B. Logfiles betreffend Logins oder den Abruf von Daten oder
            Zugriffszeiten.). Inhaltsdaten (z. B. textliche oder bildliche Nachrichten und Beiträge sowie die sie
            betreffenden Informationen, wie z. B. Angaben zur Autorenschaft oder Zeitpunkt der Erstellung).</li>
        <li><strong>Betroffene Personen:</strong> Nutzer (z. B. Webseitenbesucher, Nutzer von Onlinediensten).</li>
        <li><strong>Zwecke der Verarbeitung:</strong> Bereitstellung unseres Onlineangebotes und Nutzerfreundlichkeit;
            Informationstechnische Infrastruktur (Betrieb und Bereitstellung von Informationssystemen und technischen
            Geräten (Computer, Server etc.).). Sicherheitsmaßnahmen.</li>
        <li><strong>Aufbewahrung und Löschung:</strong> Löschung entsprechend Angaben im Abschnitt "Allgemeine
            Informationen
            zur Datenspeicherung und Löschung".</li>
        <li class=""><strong>Rechtsgrundlagen:</strong> Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f) DSGVO).</li>
    </ul>
    <p class="small-font"><strong>Weitere Hinweise zu Verarbeitungsprozessen, Verfahren und Diensten:</strong></p>
    <ul class="index">
        <li><strong>Erhebung von Zugriffsdaten und Logfiles: </strong>Der Zugriff auf unser Onlineangebot wird in Form
            von
            sogenannten "Server-Logfiles" protokolliert. Zu den Serverlogfiles können die Adresse und der Name der
            abgerufenen Webseiten und Dateien, Datum und Uhrzeit des Abrufs, übertragene Datenmengen, Meldung über
            erfolgreichen Abruf, Browsertyp nebst Version, das Betriebssystem des Nutzers, Referrer URL (die zuvor
            besuchte
            Seite) und im Regelfall IP-Adressen und der anfragende Provider gehören. Die Serverlogfiles können zum einen
            zu
            Sicherheitszwecken eingesetzt werden, z. B. um eine Überlastung der Server zu vermeiden (insbesondere im
            Fall
            von missbräuchlichen Angriffen, sogenannten DDoS-Attacken), und zum anderen, um die Auslastung der Server
            und
            ihre Stabilität sicherzustellen; <span class=""><strong>Rechtsgrundlagen:</strong> Berechtigte Interessen
                (Art.
                6 Abs. 1 S. 1 lit. f) DSGVO). </span><strong>Löschung von Daten:</strong> Logfile-Informationen werden
            für
            die Dauer von maximal 30 Tagen gespeichert und danach gelöscht oder anonymisiert. Daten, deren weitere
            Aufbewahrung zu Beweiszwecken erforderlich ist, sind bis zur endgültigen Klärung des jeweiligen Vorfalls von
            der
            Löschung ausgenommen.</li>
        <li><strong>E-Mail-Versand und -Hosting: </strong>Die von uns in Anspruch genommenen Webhosting-Leistungen
            umfassen
            ebenfalls den Versand, den Empfang sowie die Speicherung von E-Mails. Zu diesen Zwecken werden die Adressen
            der
            Empfänger sowie Absender als auch weitere Informationen betreffend den E-Mailversand (z. B. die beteiligten
            Provider) sowie die Inhalte der jeweiligen E-Mails verarbeitet. Die vorgenannten Daten können ferner zu
            Zwecken
            der Erkennung von SPAM verarbeitet werden. Wir bitten darum, zu beachten, dass E-Mails im Internet
            grundsätzlich
            nicht verschlüsselt versendet werden. Im Regelfall werden E-Mails zwar auf dem Transportweg verschlüsselt,
            aber
            (sofern kein sogenanntes Ende-zu-Ende-Verschlüsselungsverfahren eingesetzt wird) nicht auf den Servern, von
            denen sie abgesendet und empfangen werden. Wir können daher für den Übertragungsweg der E-Mails zwischen dem
            Absender und dem Empfang auf unserem Server keine Verantwortung übernehmen; <span
                class=""><strong>Rechtsgrundlagen:</strong> Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f)
                DSGVO).</span></li>
        <li><strong>ALL-INKL: </strong>Leistungen auf dem Gebiet der Bereitstellung von informationstechnischer
            Infrastruktur und verbundenen Dienstleistungen (z. B. Speicherplatz und/oder Rechenkapazitäten);
            <strong>Dienstanbieter:</strong> ALL-INKL.COM - Neue Medien Münnich, Inhaber: René Münnich, Hauptstraße 68,
            02742 Friedersdorf, Deutschland; <span class=""><strong>Rechtsgrundlagen:</strong> Berechtigte Interessen
                (Art.
                6 Abs. 1 S. 1 lit. f) DSGVO); </span><strong>Website:</strong> <a class="index-link"
                href="https://all-inkl.com/" target="_blank">https://all-inkl.com/</a>;
            <strong>Datenschutzerklärung:</strong> <a class="index-link"
                href="https://all-inkl.com/datenschutzinformationen/"
                target="_blank">https://all-inkl.com/datenschutzinformationen/</a>.
            <strong>Auftragsverarbeitungsvertrag:</strong> Wird vom Dienstanbieter bereitgestellt.
        </li>
    </ul>
    <h2 id="m182">Kontakt- und Anfrageverwaltung</h2>
    <p class="small-font">Bei der Kontaktaufnahme mit uns (z. B. per Post, Kontaktformular, E-Mail, Telefon oder via
        soziale Medien) sowie
        im
        Rahmen bestehender Nutzer- und Geschäftsbeziehungen werden die Angaben der anfragenden Personen verarbeitet,
        soweit
        dies zur Beantwortung der Kontaktanfragen und etwaiger angefragter Maßnahmen erforderlich ist.</p>
    <ul class="index">
        <li><strong>Verarbeitete Datenarten:</strong> Bestandsdaten (z. B. der vollständige Name, Wohnadresse,
            Kontaktinformationen, Kundennummer, etc.); Kontaktdaten (z. B. Post- und E-Mail-Adressen oder
            Telefonnummern);
            Inhaltsdaten (z. B. textliche oder bildliche Nachrichten und Beiträge sowie die sie betreffenden
            Informationen,
            wie z. B. Angaben zur Autorenschaft oder Zeitpunkt der Erstellung); Nutzungsdaten (z. B. Seitenaufrufe und
            Verweildauer, Klickpfade, Nutzungsintensität und -frequenz, verwendete Gerätetypen und Betriebssysteme,
            Interaktionen mit Inhalten und Funktionen). Meta-, Kommunikations- und Verfahrensdaten (z. B. IP-Adressen,
            Zeitangaben, Identifikationsnummern, beteiligte Personen).</li>
        <li><strong>Betroffene Personen:</strong> Kommunikationspartner.</li>
        <li><strong>Zwecke der Verarbeitung:</strong> Kommunikation; Organisations- und Verwaltungsverfahren; Feedback
            (z. B. Sammeln von Feedback via Online-Formular). Bereitstellung unseres Onlineangebotes und
            Nutzerfreundlichkeit.</li>
        <li><strong>Aufbewahrung und Löschung:</strong> Löschung entsprechend Angaben im Abschnitt "Allgemeine
            Informationen
            zur Datenspeicherung und Löschung".</li>
        <li class=""><strong>Rechtsgrundlagen:</strong> Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f) DSGVO).
            Vertragserfüllung und vorvertragliche Anfragen (Art. 6 Abs. 1 S. 1 lit. b) DSGVO).</li>
    </ul>
    <p class="small-font"><strong>Weitere Hinweise zu Verarbeitungsprozessen, Verfahren und Diensten:</strong></p>
    <ul class="index">
        <li><strong>Kontaktformular: </strong>Bei Kontaktaufnahme über unser Kontaktformular, per E-Mail oder anderen
            Kommunikationswegen, verarbeiten wir die uns übermittelten personenbezogenen Daten zur Beantwortung und
            Bearbeitung des jeweiligen Anliegens. Dies umfasst in der Regel Angaben wie Name, Kontaktinformationen und
            gegebenenfalls weitere Informationen, die uns mitgeteilt werden und zur angemessenen Bearbeitung
            erforderlich
            sind. Wir nutzen diese Daten ausschließlich für den angegebenen Zweck der Kontaktaufnahme und Kommunikation;
            <span class=""><strong>Rechtsgrundlagen:</strong> Vertragserfüllung und vorvertragliche Anfragen (Art. 6
                Abs. 1
                S. 1 lit. b) DSGVO), Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f) DSGVO).</span>
        </li>
    </ul>
    <h2 id="m136">Präsenzen in sozialen Netzwerken (Social Media)</h2>
    <p class="small-font">Wir unterhalten Onlinepräsenzen innerhalb sozialer Netzwerke und verarbeiten in diesem Rahmen
        Nutzerdaten, um mit
        den
        dort aktiven Nutzern zu kommunizieren oder Informationen über uns anzubieten.</p>
    <p class="small-font">Wir weisen darauf hin, dass dabei Nutzerdaten außerhalb des Raumes der Europäischen Union
        verarbeitet werden
        können.
        Hierdurch können sich für die Nutzer Risiken ergeben, weil so zum Beispiel die Durchsetzung der Nutzerrechte
        erschwert werden könnte.</p>
    <p class="small-font">Ferner werden die Daten der Nutzer innerhalb sozialer Netzwerke im Regelfall für
        Marktforschungs- und Werbezwecke
        verarbeitet. So können beispielsweise anhand des Nutzungsverhaltens und sich daraus ergebender Interessen der
        Nutzer
        Nutzungsprofile erstellt werden. Letztere finden möglicherweise wiederum Verwendung, um etwa Werbeanzeigen
        innerhalb
        und außerhalb der Netzwerke zu schalten, die mutmaßlich den Interessen der Nutzer entsprechen. Daher werden im
        Regelfall Cookies auf den Rechnern der Nutzer gespeichert, in denen das Nutzungsverhalten und die Interessen der
        Nutzer gespeichert werden. Zudem können in den Nutzungsprofilen auch Daten unabhängig der von den Nutzern
        verwendeten Geräten gespeichert werden (insbesondere, wenn sie Mitglieder der jeweiligen Plattformen und dort
        eingeloggt sind).</p>
    <p class="small-font">Für eine detaillierte Darstellung der jeweiligen Verarbeitungsformen und der
        Widerspruchsmöglichkeiten (Opt-out)
        verweisen wir auf die Datenschutzerklärungen und Angaben der Betreiber der jeweiligen Netzwerke.</p>
    <p class="small-font">Auch im Fall von Auskunftsanfragen und der Geltendmachung von Betroffenenrechten weisen wir
        darauf hin, dass
        diese am
        effektivsten bei den Anbietern geltend gemacht werden können. Nur Letztere haben jeweils Zugriff auf die
        Nutzerdaten
        und können direkt entsprechende Maßnahmen ergreifen und Auskünfte geben. Sollten Sie dennoch Hilfe benötigen,
        dann
        können Sie sich an uns wenden.</p>
    <ul class="index">
        <li><strong>Verarbeitete Datenarten:</strong> Kontaktdaten (z. B. Post- und E-Mail-Adressen oder
            Telefonnummern);
            Inhaltsdaten (z. B. textliche oder bildliche Nachrichten und Beiträge sowie die sie betreffenden
            Informationen,
            wie z. B. Angaben zur Autorenschaft oder Zeitpunkt der Erstellung). Nutzungsdaten (z. B. Seitenaufrufe und
            Verweildauer, Klickpfade, Nutzungsintensität und -frequenz, verwendete Gerätetypen und Betriebssysteme,
            Interaktionen mit Inhalten und Funktionen).</li>
        <li><strong>Betroffene Personen:</strong> Nutzer (z. B. Webseitenbesucher, Nutzer von Onlinediensten).</li>
        <li><strong>Zwecke der Verarbeitung:</strong> Kommunikation; Feedback (z. B. Sammeln von Feedback via
            Online-Formular). Öffentlichkeitsarbeit.</li>
        <li><strong>Aufbewahrung und Löschung:</strong> Löschung entsprechend Angaben im Abschnitt "Allgemeine
            Informationen
            zur Datenspeicherung und Löschung".</li>
        <li class=""><strong>Rechtsgrundlagen:</strong> Berechtigte Interessen (Art. 6 Abs. 1 S. 1 lit. f) DSGVO).</li>
    </ul>
    <p class="small-font"><strong>Weitere Hinweise zu Verarbeitungsprozessen, Verfahren und Diensten:</strong></p>
    <ul class="index">
        <li><strong>LinkedIn: </strong>Soziales Netzwerk - Wir sind gemeinsam mit LinkedIn Irland Unlimited Company für
            die
            Erhebung (jedoch nicht die weitere Verarbeitung) von Daten der Besucher, die zu Zwecken der Erstellung der
            „Page-Insights" (Statistiken) unserer LinkedIn-Profile erstellt werden, verantwortlich. <br>Zu diesen Daten
            gehören Informationen zu den Arten von Inhalten, die Nutzer sich ansehen oder mit denen sie interagieren,
            oder
            die von ihnen vorgenommenen Handlungen sowie Informationen über die von den Nutzern genutzten Geräte (z. B.
            IP-Adressen, Betriebssystem, Browsertyp, Spracheinstellungen, Cookie-Daten) und Angaben aus dem Profil der
            Nutzer, wie Berufsfunktion, Land, Branche, Hierarchieebene, Unternehmensgröße und Beschäftigungsstatus.
            Datenschutzinformationen zur Verarbeitung von Daten der Nutzer durch LinkedIn können den
            Datenschutzhinweisen
            von LinkedIn entnommen werden: <a class="index-link" href="https://www.linkedin.com/legal/privacy-policy"
                target="_blank">https://www.linkedin.com/legal/privacy-policy</a> <br>Wir haben mit LinkedIn Irland eine
            spezielle Vereinbarung abgeschlossen ("Page Insights Joint Controller Addendum (the ‚Addendum‘)", <a
                class="index-link" href="https://legal.linkedin.com/pages-joint-controller-addendum"
                target="_blank">https://legal.linkedin.com/pages-joint-controller-addendum</a>), in der insbesondere
            geregelt wird, welche Sicherheitsmaßnahmen LinkedIn beachten muss und in der LinkedIn sich bereit erklärt
            hat
            die Betroffenenrechte zu erfüllen (d. h. Nutzer können z. B. Auskünfte oder Löschungsanfragen direkt an
            LinkedIn
            richten). Die Rechte der Nutzer (insbesondere auf Auskunft, Löschung, Widerspruch und Beschwerde bei
            zuständiger
            Aufsichtsbehörde), werden durch die Vereinbarungen mit LinkedIn nicht eingeschränkt. Die gemeinsame
            Verantwortlichkeit beschränkt sich auf die Erhebung der Daten durch und die Übermittlung an die Ireland
            Unlimited Company, ein Unternehmen mit Sitz in der EU. Die weitere Verarbeitung der Daten obliegt
            ausschließlich
            der Ireland Unlimited Company, was insbesondere die Übermittlung der Daten an die Muttergesellschaft
            LinkedIn
            Corporation in den USA betrifft; <strong>Dienstanbieter:</strong> LinkedIn Ireland Unlimited Company, Wilton
            Place, Dublin 2, Irland; <span class=""><strong>Rechtsgrundlagen:</strong> Berechtigte Interessen (Art. 6
                Abs. 1
                S. 1 lit. f) DSGVO); </span><strong>Website:</strong> <a class="index-link"
                href="https://www.linkedin.com" target="_blank">https://www.linkedin.com</a>;
            <a class="index-link" href="https://www.linkedin.com/legal/privacy-policy"
                target="_blank">https://www.linkedin.com/legal/privacy-policy</a>; <strong>Grundlage
                Drittlandtransfers:</strong> Data Privacy Framework (DPF). <strong>Widerspruchsmöglichkeit
                (Opt-Out):</strong> <a class="index-link"
                href="https://www.linkedin.com/psettings/guest-controls/retargeting-opt-out"
                target="_blank">https://www.linkedin.com/psettings/guest-controls/retargeting-opt-out</a>.
        </li>
    </ul>
    <p class="seal"><a href="https://datenschutz-generator.de/"
            title="Rechtstext von Dr. Schwenke - für weitere Informationen bitte anklicken." target="_blank"
            rel="noopener noreferrer nofollow">Erstellt mit kostenlosem Datenschutz-Generator.de von Dr. Thomas
            Schwenke</a>
    </p>
</section>