<div class="background">
    <div class="max-width">
        <div class="footer-content">
            <div class="logo-name">
                <a href="#aboutme"><img src="./assets/img/MM_Logo1_white.svg" alt="Logo"></a>
                <p> &copy; Mailo Mittelstädt 2024</p>
            </div>

            <div class="social-media-wrapper">
                <div class="social-media">
                    <a href="https://github.com/nurcoda"> <img class="github-icon" src="./assets/img/Githubicon.png"
                            alt=""></a>
                    <a href="mailto:contact@mailo-mittelstaedt.de"> <img class="mail-icon"
                            src="./assets/img/mailicon.png" alt=""></a>
                </div>
                <div class="linkLegal">
                    <a routerLink="legalMatters" class="legal-notice">Legal notice</a>
                </div>
            </div>

        </div>
    </div>
</div>