.footer-content {
    display: flex;
}

.logo-name {
    color: rgb(216, 36, 36);

    img {
        height: 30px;
    }
}

.social-media {}

.github-icon {
    height: 30px;
}

.mail-icon {
    height: 30px;
}

.legal-notice {
    font-size: 16px;
    text-decoration: none;
    transition: font-size 0.5s ease-in-out, text-decoration 0.5s ease-in-out;
    color: #9747FF;
}

.legal-notice:hover {
    animation: enlargeAndUnderline 0.5s forwards;
}

@keyframes enlargeAndUnderline {
    from {
        font-size: 16px;
        text-decoration: none;
    }

    to {
        font-size: 24px;
        text-decoration: underline;
    }
}