.portfolio-content {
    padding-left: 100px;
    padding-right: 100px;
}

.skill {
    height: 215px;
    margin-bottom: 20px;
}

.myskillarrow {
    display: flex;
    padding-top: 80px;
    opacity: 0;
    cursor: pointer;
}

.myskillarrow.zoomInDown {
    -webkit-animation-name: zoomInDown;
    animation-name: zoomInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    opacity: 1;
    /* Sichtbar nach dem Start der Animation */
}

@-webkit-keyframes zoomInDown {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
        transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
        animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
        transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }
}

@keyframes zoomInDown {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
        transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
        animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
        transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }
}

h2 {
    text-align: center;
    font-size: 78px;
    font-weight: 800;
    margin: 0;

    &:hover {
        color: #9747FF;
    }
}

.ptxt {
    text-align: center;
    padding-bottom: 60px;
}

.project-container {
    display: flex;
    gap: 70px;
}

.image-wrapper {
    position: relative;
    display: inline-block;
    width: fit-content;
    height: fit-content;
    z-index: 10;
}

.image-wrapper img {
    max-height: 100%;
    height: 370px;
}

.image-wrapper::before {
    content: "";
    position: absolute;
    top: 20px;
    left: 20px;
    right: -20px;
    bottom: -15px;
    border: 5px solid transparent;
    transition: border-color 0.3s ease;
}

.image-wrapper:hover::before {
    border-color: rgb(8, 8, 8);
}

.project-container-two {
    display: flex;
    flex-direction: row-reverse;
    padding-top: 60px;
    gap: 70px;

}

.numberof-two {
    font-size: 48px;
    font-weight: 700;
    text-align: left;
    margin: 0;
}

.reversed {
    display: flex;
    gap: 70px;
}

.project-button-container {
    visibility: hidden;
    /* Element standardmäßig verstecken */
    opacity: 0;
    /* Transparenz auf 0 setzen */
    transition: opacity 0.3s ease-out;
    /* Für eine weiche Einblendung */
}

.project-button-container.slideInLeft {
    visibility: visible;
    opacity: 1;
    /* Transparenz auf 1 setzen */
    -webkit-animation-name: slideInLeft;
    animation-name: slideInLeft;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes slideInLeft {
    0% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes slideInLeft {
    0% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.project-button-container-two {
    visibility: hidden;
    /* Element standardmäßig verstecken */
    opacity: 0;
    /* Transparenz auf 0 setzen */
    transition: opacity 0.3s ease-out;
    /* Für eine weiche Einblendung */
}

.project-button-container-two.slideInRight {
    visibility: visible;
    opacity: 1;
    -webkit-animation-name: slideInRight;
    animation-name: slideInRight;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes slideInRight {
    0% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        visibility: visible;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    0% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        visibility: visible;
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

// .project-button-container {}

// .project-button-container.slideInLeft {
//     -webkit-animation-name: slideInLeft;
//     animation-name: slideInLeft;
//     -webkit-animation-duration: 1s;
//     animation-duration: 1s;
//     -webkit-animation-fill-mode: both;
//     animation-fill-mode: both;
// }

// @-webkit-keyframes slideInLeft {
//     0% {
//         -webkit-transform: translateX(-100%);
//         transform: translateX(-100%);
//         visibility: visible;
//     }

//     100% {
//         -webkit-transform: translateX(0);
//         transform: translateX(0);
//     }
// }

// @keyframes slideInLeft {
//     0% {
//         -webkit-transform: translateX(-100%);
//         transform: translateX(-100%);
//         visibility: visible;
//     }

//     100% {
//         -webkit-transform: translateX(0);
//         transform: translateX(0);
//     }
// }

.project-description-wrapper {}

.numberof {
    font-size: 48px;
    font-weight: 700;
    text-align: right;
    margin: 0;
}

h3 {
    font-size: 45px;
    font-weight: 800;
    margin: 0;
}

.code-description {
    color: #9747FF;
    font-size: 23px;
    margin: 0;
}

.simple-project-description {
    font-size: 16px;
    font-weight: 600;
}


.button-wrapper {
    display: flex;
    align-items: flex-end;
    margin: 0;
}

.button-container {}

.btn {
    margin-top: 20px;
    cursor: pointer;
    border: solid rgb(0, 0, 0);
    font-size: 21px;
    color: rgb(15, 14, 14);
    padding: 10px 20px;
    transition: 835ms;
    width: 150px;
    box-shadow: rgb(0, 0, 0) 0px 0px 0px 0px;
    border-radius: 1px;
    background: linear-gradient(90deg, rgb(255, 252, 243) 0%, rgb(255, 252, 243) 100%);
    --hover-bgc: #FFFCF3;
    --hover-color: #f6fbff;
    --hover-borderc: #080808;
    --hover-borderSize: 2;
    --hover-width: 400px;

    &:hover {
        color: rgb(8, 8, 8);
        font-weight: 700;
        width: 180px;
        background: rgb(255, 252, 243) none repeat scroll 0% 0% / auto padding-box border-box;
        border-color: rgb(8, 8, 8);
        border-width: 3px;
        border-style: solid;
    }


}