<div class="portfolio-content">
    <div class="myskillarrow">
        <img src="./assets/img/leftarrow1.png" alt="Left Arrow down">
    </div>

    <div>
        <h2>Portfolio</h2>
        <p>Explore a selection of my work here - Interact with projects to see my skills in action.</p>
    </div>

    <div class="project-container">

        <div class="image-wrapper">
            <img class="project-pic" src="./assets/img/startscreen_1.png" alt="El Poco Loco Title Screen">
        </div>

        <div class="button-wrapper">
            <div class="button-container">
                <button class="btn" id="customBtn">Git Hub</button>
            </div>
        </div>

    </div>

</div>