<div class="portfolio-content">
    <div class="myskillarrow">
        <img class="skill" src="./assets/img/leftarrow1.png" alt="Left Arrow down">
    </div>

    <div>
        <h2>Portfolio</h2>
        <p class="ptxt">Explore a selection of my work here - Interact with projects to see my skills in action.</p>
    </div>

    <div class="project-container">

        <div class="image-wrapper">
            <img class="project-pic" src="./assets/img/startscreen_1.png" alt="El Poco Loco Title Screen">
        </div>


        <div class="project-button-container">
            <div class="project-description-wrapper">
                <p class="numberof">01/02</p>
                <h3>El Polo Loco</h3>
                <span class="code-description">JavaScript | HTML | CSS</span>
                <p class="simple-project-description">A simple Jump-and-Run game based on an object-oriented approach.
                    <br>
                    Help Pepe to find coins and bottles
                    to fight against the killer chicken.
                </p>
            </div>

            <div class="button-wrapper">
                <div class="button-container">
                    <button class="btn" id="customBtn">Git Hub</button>
                </div>
            </div>

        </div>

    </div>

    <!-- Two from Portfolio -->

    <div class="reversed">
        <div class="project-container-two">

            <div class="image-wrapper">
                <img class="project-pic" src="./assets/img/join.png" alt="El Poco Loco Title Screen">
            </div>


            <div class="project-button-container-two">
                <div class="project-description-wrapper">
                    <p class="numberof-two">01/02</p>
                    <h3>Join</h3>
                    <span class="code-description">Angular | TypeScript | HTML | CSS | Firebase</span>
                    <p class="simple-project-description">Task manager inspired by the Kanban System.<br> Create and
                        organize tasks using drag and drop functions, assign users and categories.</p>
                </div>

                <div class="button-wrapper">
                    <div class="button-container">
                        <button class="btn" id="customBtn">Git Hub</button>
                    </div>
                </div>

            </div>

        </div>
    </div>

</div>