<div class="portfolio-content" id="portfolio">
    <div class="myskillarrow">
        <a href="#portfolio"><img class="skill" src="./assets/img/leftarrow1.png" alt="Left Arrow down"></a>
    </div>

    <div>
        <h2>Portfolio</h2>
        <p class="ptxt">{{'headline'|translate}}</p>
    </div>

    <div class="project-container">

        <div class="image-wrapper2">
            <img class="project-pic" src="./assets/img/startscreen_1.png" alt="El Poco Loco Title Screen">
        </div>


        <div class="project-button-container">
            <div class="project-description-wrapper">
                <p class="numberof">01/02</p>
                <h3>El Polo Loco</h3>
                <span class="code-description">JavaScript | HTML | CSS</span>
                <p class="simple-project-description">
                    {{'poloLocoOne'|translate}}
                </p>
                <p class="simple-project-description">
                    {{'poloLocoTwo'|translate}}
                </p>
            </div>

            <div class="button-wrapper">
                <div class="button-container">
                    <a href="https://github.com/nurcoda/pololoco" target="_blank"><button class="btn" id="customBtn">Git
                            Hub</button></a>
                    <a href=""><button class="btn" id="customBtn">Live Test</button></a>
                </div>
            </div>

        </div>

    </div>

    <!-- Two from Portfolio -->

    <div class="reversed">
        <div class="project-container-two">

            <div class="image-wrapper">
                <img class="project-pic" src="./assets/img/join.png" alt="El Poco Loco Title Screen">
            </div>


            <div class="project-button-container-two">
                <div class="project-description-wrapper">
                    <p class="numberof-two">02/02</p>
                    <h3>Join</h3>
                    <span class="code-description">Angular | TypeScript | HTML | CSS | Firebase</span>
                    <p class="simple-project-description">{{'joinOne'|translate}}</p>
                    <p class="simple-project-description">
                        {{'joinTwo'|translate}}
                    </p>
                </div>

                <div class="button-wrapper">
                    <div class="button-container">
                        <a href="https://github.com/nurcoda/Join" target="_blank"><button class="btn" id="customBtn">Git
                                Hub</button></a>
                        <a href=""><button class="btn" id="customBtn">Live Test</button></a>
                    </div>
                </div>

            </div>

        </div>
    </div>

</div>