<div class="content-wrapper">

    <div>
        <h2>{{'referencesHead'|translate}}</h2>
        <p class="description">{{'teamHeadOne'|translate}}</p>
        <p class="description">{{'teamHeadTwo'|translate}}</p>
    </div>


    <div class="reference-posts-content">
        <div class="reference-posts-container">
            <div class="reference-wrapper">
                <div class="reference">
                    <div class="quotes"><img class="img-quote" src="./assets/img/format_quote.png" alt="quote"></div>
                    <div class="name-wrighter">Alexander Hähnlein</div>
                    <div class="position-wrighter">Team Partner</div>
                    <div class="text-wirghter">
                        <p>{{'alex'|translate}}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="reference-posts-container">
            <div class="reference-wrapper">
                <div class="reference">
                    <div class="quotes"><img class="img-quote" src="./assets/img/format_quote.png" alt="quote"></div>
                    <div class="name-wrighter">Joel Sygulla</div>
                    <div class="position-wrighter">Team Partner</div>
                    <div class="text-wirghter">
                        <p>{{'joel'|translate}}</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="reference-posts-container">
            <div class="reference-wrapper">
                <div class="reference">
                    <div class="quotes"><img class="img-quote" src="./assets/img/format_quote.png" alt="quote"></div>
                    <div class="name-wrighter">Jonas Mahlburg</div>
                    <div class="position-wrighter">Team Partner</div>
                    <div class="text-wirghter">
                        <p>{{'jonas'|translate}}</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>