.content-wrapper {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 120px;
}

.description {
    text-align: center;
    margin: 0;
}

h2 {
    text-align: center;
    font-size: 78px;
    font-weight: 800;
    margin: 0;
    margin-bottom: 2vh;

    &:hover {
        color: #9747FF;
    }
}

.reference-posts-content {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 160px;
    margin-top: 8vh;
}

.reference-posts-container {
    display: flex;
    gap: 10px;
    width: 30vw;
    min-width: 400px;
}

.reference-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    padding: 6%;
    box-sizing: border-box;
    border-width: 3px;
    border-style: solid;

    &:hover {
        border-color: #9747FF;
    }
}

.reference {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quotes {}

.img-quote {}

.name-wrighter {
    font-size: 22px;
    font-weight: 700;
}

.position-wrighter {}

.text-wirghter {}