<div class="content-wrapper">

    <div class="title-description">
        <h2>References</h2>
        <p>I thrive both independently and as part of a team. Here’s what my colleagues have to say about working with
            me.</p>
    </div>


    <div class="reference-posts-content">
        <div class="reference-posts-container">
            <div class="reference-wrapper">
                <div class="reference">
                    <div class="quotes"><img class="img-quote" src="./assets/img/format_quote.png" alt="quote"></div>
                    <div class="name-wrighter">Alexander Hähnlein</div>
                    <div class="position-wrighter">Team Partner</div>
                    <div class="text-wirghter">
                        <p>It was a great asset to have Mailo as a project partner for our Join project. He always
                            created a
                            good atmosphere in the team and was very well organized when it came to open tasks. Mailo
                            was
                            able
                            to successfully implement his tasks thanks to his good knowledge and was also good at
                            finding
                            and
                            testing bugs. Working with him was really fun and I can recommend him without a doubt.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="reference-posts-container">
            <div class="reference-wrapper">
                <div class="reference">
                    <div class="quotes"><img class="img-quote" src="./assets/img/format_quote.png" alt="quote"></div>
                    <div class="name-wrighter">Joel Sygulla</div>
                    <div class="position-wrighter">Team Partner</div>
                    <div class="text-wirghter">
                        <p>It was a great asset to have Mailo as a project partner for our Join project. He always
                            created a
                            good atmosphere in the team and was very well organized when it came to open tasks. Mailo
                            was
                            able
                            to successfully implement his tasks thanks to his good knowledge and was also good at
                            finding
                            and
                            testing bugs. Working with him was really fun and I can recommend him without a doubt.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="reference-posts-container">
            <div class="reference-wrapper">
                <div class="reference">
                    <div class="quotes"><img class="img-quote" src="./assets/img/format_quote.png" alt="quote"></div>
                    <div class="name-wrighter">Jonas Mahlburg</div>
                    <div class="position-wrighter">Team Partner</div>
                    <div class="text-wirghter">
                        <p>Mailo was a very competent team colleague during the work. He independently took on the role
                            of tester and thus played a key role in the completion process after he had completed his
                            own tasks. Mailo integrated very well into the group dynamic. I would be happy to work with
                            him again</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>