.nav-container {
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 30px;
}

.burger-menu {
    display: flex;
    flex-direction: column;
    gap: 8px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

.burger-menu-line {
    background-color: black;
    width: 40px;
    height: 4px;
}