<div class="nav-container">
    <img class="logo" src="./assets/img/logonot.png" alt="" class="logo" />
    <div (click)="toggleNav()" class="burger-menu" [ngClass]="{'burger-menu-crossed': isOpen}">
        <div class="burger-menu-line" [ngClass]="{'line-crossed': isOpen}"></div>
        <div class="burger-menu-line" [ngClass]="{'line-crossed': isOpen}"></div>
        <div class="burger-menu-line" [ngClass]="{'line-crossed': isOpen}"></div>
    </div>

</div>



@if (isOpen) {
<div class="fullscreen-nav">
    <div class="navpoint-wrapper">
        <a href="">About me</a>
        <a href="">My Skills</a>
        <a href="#">Portfolio</a>
    </div>
    <header>
        <div>
            <h1>Contact</h1>
        </div>

        <div class="icons-header">
            <a href=""><img src="./assets/img/Githubicon.png" alt=""></a>
            <a href=""><img src="./assets/img/mailicon.png" alt=""> </a>
        </div>

    </header>
</div>
}