<div class="max-width">
    <div class="nav-container">

        <div class="nav-wrapper">
            <a href="#aboutme"><img class="logo" src="./assets/img/MM_Logo1.svg" alt="" class="logo" /></a>
            <div (click)="toggleNav()" class="burger-menu" [ngClass]="{'burger-menu-crossed': isOpen}">
                <div class="burger-menu-line" [ngClass]="{'line-crossed': isOpen}"></div>
                <div class="burger-menu-line" [ngClass]="{'line-crossed': isOpen}"></div>
                <div class="burger-menu-line" [ngClass]="{'line-crossed': isOpen}"></div>
            </div>
        </div>


    </div>



    @if (isOpen) {
    <div class="fullscreen-nav">
        <div class="language">
            <p class="en-de" (click)="translate.switchLanguage('en')">EN</p>
            <p class="en-de" (click)="translate.switchLanguage('de')">DE</p>
        </div>
        <div class="navpoint-wrapper">
            <a (click)="toggleNav()" href="#aboutme">{{ 'aboutMe' | translate }}</a>
            <a (click)="toggleNav()" href="#myskills">{{ 'mySkills' | translate }}</a>
            <a (click)="toggleNav()" href="#portfolio">Portfolio</a>
        </div>
        <header>
            <div>
                <a (click)="toggleNav()" class="contact-link" href="#contact">
                    <h1>Contact</h1>
                </a>

            </div>

            <div class="icons-header">
                <a href="https://github.com/nurcoda"><img class="git-hub-icon" src="./assets/img/Githubicon.png"
                        alt=""></a>
                <a href="mailto:contact@mailo-mittelstaedt.de"><img class="e-mail-icon" src="./assets/img/mailicon.png"
                        alt=""> </a>
            </div>

        </header>
    </div>
    }
</div>