<div class="hero">
    <h1 class="font-Syne">Frontend</h1>
    <h1 class="font-Syne"> {{'developer'| translate}}</h1>
    <div class="line-name">
        <hr><span class="font-Syne highlight-Lila name">Mailo Mittestädt</span>
    </div>
</div>

<div class="font-Syne email-scroll-arrow">
    <span id="rotateText">
        contact&commat;mailo-mittelstaedt.de
    </span>
    <div class="scroll-down-arrow-container">
        <a href="#aboutme">
            <div class="slideshow"></div>
        </a>
        <span>Scroll</span>
        <span>{{'down'| translate}}</span>

    </div>
</div>