// body {
//     height: 100vh;
//     width: 100vw;
//     margin: 0;
// }

.hero {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-top: 204px;
    padding-left: 10vw;
    padding-right: 10vw;
}

.line-name {
    margin: 0;
    display: flex;
    align-items: center;
    width: 100%;
}

.name {
    padding-left: 24px;
    font-size: 48px;
    font-weight: 700;
    white-space: nowrap;
}

h1 {
    font-weight: 800;
    font-size: 128px;
    margin: 0;
}

hr {
    margin: 0;
    width: 100%;
    height: 2px;
    background-color: black;
}

.email-scroll-arrow {
    display: flex;
    justify-content: space-between;
    padding-top: 16px;
    padding-left: 100px;
    padding-right: 100px;
    max-width: 1920px;
}

#rotateText {
    writing-mode: vertical-lr;
    transform: scale(-1, -1);
}

.scroll-down-arrow-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.slideshow {
    width: 116px;
    height: 180px;
    background-size: cover;
    background-position: center;
    animation: slide 2s infinite;
}

@keyframes slide {
    0% {
        background-image: url('./../../../assets/img/scrollArrow/Arrow1.png');
    }

    16% {
        background-image: url('./../../../assets/img/scrollArrow/Arrow1.png');
    }

    17% {
        background-image: url('./../../../assets/img/scrollArrow/Arrow2.png');
    }

    33% {
        background-image: url('./../../../assets/img/scrollArrow/Arrow2.png');
    }

    34% {
        background-image: url('./../../../assets/img/scrollArrow/Arrow3.png');
    }

    50% {
        background-image: url('./../../../assets/img/scrollArrow/Arrow3.png');
    }

    51% {
        background-image: url('./../../../assets/img/scrollArrow/ArrowD.png');
    }

    67% {
        background-image: url('./../../../assets/img/scrollArrow/ArrowD.png');
    }

    68% {
        background-image: url('./../../../assets/img/scrollArrow/Arrow4.png');
    }

    83% {
        background-image: url('./../../../assets/img/scrollArrow/Arrow4.png');
    }

    84% {
        background-image: url('./../../../assets/img/scrollArrow/Arrow5.png');
    }

    100% {
        background-image: url('./../../../assets/img/scrollArrow/Arrow5.png');
    }

    83.33% {
        background-image: url('./../../../assets/img/scrollArrow/Arrow4.png');
    }

}