<div class="max-width">
    <div class="about-me ">
        <div class="anchor" id="aboutme"></div>
        <h2>{{ 'aboutMe' | translate }} </h2>

        <div class="aboutme-wrapper">
            <div class="content-wrapper">
                <div>
                    <p class="pe">
                    </p>
                    <p class="pe">{{ 'aboutMeTextOne' | translate }}
                    </p>
                    <p> {{ 'aboutMeTextTwo' | translate }}
                    </p>
                </div>

                <div class="home-remote">
                    <img src="./assets/img/house.png" alt="House icone">
                    <p>{{'based'| translate}}</p>
                </div>

                <div class="home-remote">
                    <img src="./assets/img/laptop_chromebook.png" alt="Laptop icone">
                    <p>{{'remote'| translate}}</p>
                </div>

                <div class="button-container">
                    <a href="#contact"><button class="btn" id="customBtn">{{'letsTalk'| translate}}</button></a>
                </div>
            </div>

            <div class="profile-picture">
                <img src="./assets/img/profilpic.png" alt="Application Photo">
            </div>
        </div>

    </div>

</div>