<div class="about-me">
    <h2>About Me</h2>
    <div>
        <p class="pe"> I am a Front-end deverloper from Munich, Germany. I help designers and companies to bring their
            ideas to
            real life.
        </p>
        <p class="pe">Creativity and logical thinking are skills that I have developed to connect ideas into quality
            products.
        </p>
        <p> If you think I’d be a good match for your projects, contact me!
        </p>
    </div>

    <div class="home-remote">
        <img src="./../../../assets/img/house.png" alt="House icone">
        <p>Based in Lübeck</p>
    </div>
    <div class="home-remote">
        <img src="./../../../assets/img/laptop_chromebook.png" alt="Laptop icone">
        <p>Open to work remote</p>
    </div>

    <button class="btn" id="customBtn">Lets Talk</button>
</div>