<footer id="contact">

    <h2>Say Hi!</h2>

    <div class="contact-discription">

        <h3>Want to discuss a new project?</h3>
        <p>Say hello! let's discuss your ideas and make it happen</p>
    </div>

    <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
        <label for="name"></label>
        <input [(ngModel)]="contactData.name" type="text" id="name" name="name" placeholder="Your Name..." required>

        @if (!message.valid && message.touched){
        <span class="red-alter-text">Please enter a you Name</span>
        }

        <label for="email"></label>
        <input [(ngModel)]="contactData.email" type="email" id="email" name="email" placeholder="Your e-mail..."
            required pattern="[a-zA-Z0-9._%+\-]+@[a-zA-Z0-9.\-]+\.[a-zA-Z]{2,}">

        @if (!message.valid && message.touched){
        <span class="red-alter-text">Please enter e-mail address</span>
        }

        <label for="message"></label>
        <textarea #message="ngModel" minlength="4" [(ngModel)]="contactData.message" type="message" id="message"
            name="message" placeholder="Your message..." style="height: 200px;" required></textarea>

        @if (!message.valid && message.touched){
        <span class="red-alter-text">Please enter a message</span>
        }

        <div class="checkbox-wrapper">
            <input type="checkbox" name="checkbox" id="checkbox_id" value="value">
            <label for="checkbox_id">I've read the <a class="privacy-policy" href="">privacy policy</a> and agree to the
                processing of my data as
                outlined.</label>
        </div>
        <input type="submit" value="Send message">
    </form>

</footer>