.background {
    position: relative;
    background-image: url("./../../../assets/img/footerbackground.svg");
    background-size: cover;
}

.max-width {
    max-width: 1440px;
    margin: 0 auto;
}

footer {
    padding-left: 100px;
    padding-right: 100px;
}

h2 {
    color: white;
    font-size: clamp(16px, 4vw, 78px);
    width: 80%;
    padding-top: 20vh;
}

.contact-discription {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 38px;
}

h3 {
    color: #9747FF;
    font-size: clamp(16px, 4vw, 22px);
}

p {
    color: white;
    margin: 0;
    font-size: clamp(16px, 4vw, 22px);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px
}

label {
    color: white;
    font-size: clamp(12px, 3vw, 18px);
}

.privacy-policy {
    text-decoration: none;
    color: #9747FF;
}

.checkbox-wrapper {
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

input[type="checkbox"] {
    width: 20px;
}

.red-alter-text {
    color: red;
    font-size: 12px;
}

input {
    width: 500px;
    border: none;
    font-family: 'Syne';
    font-style: normal;
    font-weight: 400;
    /* Entfernt die standardmäßige Umrandung */
    border-bottom: 2px solid white;
    /* Setzt eine untere Linie in Weiß */
    background-color: transparent;
    /* Hintergrund transparent, falls nötig */
    color: white;
    /* Textfarbe in Weiß */
    outline: none;
    /* Entfernt die Standard-Hervorhebung des Browsers */
    padding: 15px 0;
    /* Optional: etwas Platz oben und unten */
    transition: border 0.3s ease-in-out;
    /* Weiche Übergänge beim Fokus */
}

input:focus {
    border: 2px solid white;
    /* Volle Umrandung in Weiß beim Fokus */
}

textarea {
    width: 500px;
    border: none;
    font-family: 'Syne';
    font-style: normal;
    font-weight: 400;
    /* Entfernt die standardmäßige Umrandung */
    border-bottom: 2px solid white;
    /* Setzt eine untere Linie in Weiß */
    background-color: transparent;
    /* Hintergrund transparent, falls nötig */
    color: white;
    /* Textfarbe in Weiß */
    outline: none;
    /* Entfernt die Standard-Hervorhebung des Browsers */
    padding: 5px 0;
    /* Optional: etwas Platz oben und unten */
    transition: border 0.3s ease-in-out;
    /* Weiche Übergänge beim Fokus */
    resize: none;
    /* Verhindert das Größenverändern der textarea, optional */
}

textarea:focus {
    border: 2px solid white;
    /* Volle Umrandung in Weiß beim Fokus */
}

.default-btn {
    width: 150px;
    font-family: 'Syne';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    border: 2px solid white;
    /* Volle Umrandung in Weiß */
    background-color: transparent;
    /* Hintergrund transparent */
    color: white;
    /* Textfarbe in Weiß */
    padding: 10px 20px;
    /* Etwas space für das Button-Design */
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    /* Weiche Übergänge für Hintergrundfarbe und Textfarbe */
}

.grey {
    border: 2px solid grey;
    cursor: default;
}


.white {
    border: 2px solid rgb(249, 249, 249);
}

.disable {
    display: none;
}

.enable {
    display: block;
    transform: translateY(0);
    animation: slideIn 0.5s ease-out forwards;
}

.it-is-sent {
    color: green;
}

@media (min-width: 580px) and (max-width: 1020px) {

    footer {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 600px) {
    input {
        width: 100%;
    }

    textarea {
        width: 100%;
    }

}