<p>myskill works!</p>
<div>
    <div class="myskillarrow">
        <img class="skill1" src="./../../../assets/img/myskillarrow1.png" alt="">
        <img class="skill2" src="./../../../assets/img/myskillarrow2.png" alt="">
        <img class="skill3" src="./../../../assets/img/myskillarrow3.png" alt="">
    </div>

    <div class="borderskills">
        <div class="icon-skills">
            <img src="./../../../assets/img/Angular.png" alt="">
            <span>Angular</span>
        </div>
    </div>
</div>