<div class="container" id="myskills">
    <a href="#myskills" class="myskillarrow image-link">
        <img class="skill" src="./assets/img/myskillarrow1.png" alt="">
    </a>


    <h1>My Skills</h1>
    <div class="borderskills">

        <div class="icon-skills">
            <img src="./assets/img/Angular.png" alt="">
            <span>Angular</span>
        </div>

        <div class="icon-skills">
            <img src="./assets/img/html.png" alt="">
            <span>HTML</span>
        </div>

        <div class="icon-skills">
            <img src="./assets/img/css.png" alt="">
            <span>CSS</span>
        </div>

        <div class="icon-skills">
            <img src="./assets/img/TypeScript.png" alt="">
            <span>TypeScript</span>
        </div>

        <div class="icon-skills">
            <img src="./assets/img/Javascript.png" alt="">
            <span>JavaScript</span>
        </div>

        <div class="icon-skills">
            <img src="./assets/img/git.png" alt="">
            <span>Git</span>
        </div>

        <div class="icon-skills">
            <img src="./assets/img/Api.png" alt="">
            <span>RestApi</span>
        </div>

        <div class="icon-skills">
            <img src="./assets/img/Firebase.png" alt="">
            <span>Firebase</span>
        </div>

    </div>
</div>