.borderskills {
    border-color: rgb(8, 8, 8);
    border-width: 3px;
    border-style: solid;
}

.icon-skills {
    display: flex;
    flex-direction: column;
    align-items: baseline;

    img {
        height: 75px;
        object-fit: cover;
    }
}

.myskillarrow {
    display: flex;
    justify-content: flex-end;
    position: relative;
}

.myskillarrow img {
    height: 215px;
    opacity: 0;
    position: absolute;
    transition: opacity 2s ease-in-out;
}

.myskillarrow:hover img {
    animation: myskillAnimation 3s forwards;
}

@keyframes myskillAnimation {
    0% {
        opacity: 1;
    }

    33% {
        opacity: 0;
    }

    34% {
        opacity: 1;
    }

    66% {
        opacity: 0;
    }

    67% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}