.container {
    padding-left: 100px;
    padding-right: 100px;
}

h1 {
    width: 550px;
    text-align: center;
    display: block;
    font-size: 78px;
    font-weight: 800;
    z-index: 20;
    background-color: #fffcf3;
    padding: 0 10px;
    margin: 0;
    position: relative;
    margin-left: auto;
    margin-right: auto;

    &:hover {
        color: #9747FF;
    }
}

.borderskills {
    width: 100%;
    min-width: 300px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    gap: 40px;
    border-color: rgb(8, 8, 8);
    border-width: 3px;
    border-style: solid;
    padding: 161px 141px 141px 141px;
    margin-top: -45px;
    flex-wrap: wrap;
}

.icon-skills {
    width: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 16px;
    font-weight: 700;


    img {
        height: 75px;
        object-fit: cover;

    }

    &:hover {
        color: #9747FF;
        animation: shake 0.5s;
        animation-iteration-count: infinite;
    }
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

}

.skill {
    height: 215px;
    margin-bottom: 20px;
}

.myskillarrow {
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
    padding-top: 80px;
    color: inherit;
    scroll-behavior: smooth;
    opacity: 0;
}

.myskillarrow.zoomInDown {
    -webkit-animation-name: zoomInDown;
    animation-name: zoomInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    opacity: 1;
    /* Sichtbar nach dem Start der Animation */
}

@-webkit-keyframes zoomInDown {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
        transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
        animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
        transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }
}

@keyframes zoomInDown {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
        transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
        animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }

    60% {
        opacity: 1;
        -webkit-transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
        transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }
}

@media (min-width: 290px) and (max-width: 1020px) {
    .container {
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media (max-width: 400px) {
    .borderskills {
        padding: 106px 110px 5px 106px;
    }
}

@media (max-width: 620px) {
    h1 {}
}